# Archivos de Firebase y logs de errores
.firebase/
firebase-debug.log
firebase-debug.*.log

# Dependencias (si usas Node en el futuro)
node_modules/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno secretas
.env
.env.local