rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función: Super Administradores (Pueden tocar todo)
    function isSuperAdmin() {
      return request.auth != null && (
        request.auth.token.email == "admin@reydigital.com" ||
        request.auth.token.email == "mecinfotec@gmail.com" ||
        request.auth.token.email == "admin@abnch.com"
      );
    }

    // Función: Editores (Solo suben resultados y jugadores)
    function isEditor() {
      return request.auth != null && (
        request.auth.token.email.matches(".*@mesa[.]com") ||
        request.auth.token.email.matches(".*@prensa[.]com") ||
        request.auth.token.email == "editor@funebrero.com"
      );
    }

    match /{document=**} {
      allow read: if true;
    }

    // Fixtures y Jugadores (Admins y Editores)
    match /fixtures/{document=**} {
      allow write: if isSuperAdmin() || isEditor();
    }
    match /players/{document=**} {
      allow write: if isSuperAdmin() || isEditor();
    }

    // Institucional y Sponsors (Solo Super Admins)
    match /meetings/{document=**} {
      allow write: if isSuperAdmin();
    }
    match /sponsors/{document=**} {
      allow write: if isSuperAdmin();
    }

    // Socios y Pagos
    match /socios/{document=**} {
      allow write: if isSuperAdmin();
    }
    match /pagos_socios/{document=**} {
      allow write: if true; // El sistema permite registrar la intención de pago
    }
  }
}