rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función: Super Administradores (Tú, con acceso total a todo)
    function isSuperAdmin() {
      return request.auth != null && (
        request.auth.token.email == "admin@reydigital.com" ||
        request.auth.token.email == "mecinfotec@gmail.com" ||
        request.auth.token.email == "admin@abnch.com"
      );
    }

    // Función: Editores Deportivos (Solo partidos y jugadores)
    function isEditor() {
      return request.auth != null && (
        request.auth.token.email.matches(".*@mesa[.]com") ||
        request.auth.token.email.matches(".*@prensa[.]com") ||
        request.auth.token.email == "editor@funebrero.com"
      );
    }

    // NUEVA Función: Editor Exclusivo de Socios
    function isSocioEditor() {
      return request.auth != null && request.auth.token.email == "socios@funebrero.com";
    }

    match /{document=**} {
      allow read: if true;
    }

    // Fixtures y Jugadores (Super Admin y Editores Deportivos)
    match /fixtures/{document=**} {
      allow write: if isSuperAdmin() || isEditor();
    }
    match /players/{document=**} {
      allow write: if isSuperAdmin() || isEditor();
    }

    // Institucional, Sponsors y Carrusel Principal (Solo Super Admin)
    match /meetings/{document=**} {
      allow write: if isSuperAdmin();
    }
    match /sponsors/{document=**} {
      allow write: if isSuperAdmin();
    }
    match /carousel_images/{document=**} {
      allow write: if isSuperAdmin();
    }
    
    // Próximos Partidos (Flyers Publicitarios)
    match /upcoming_matches/{document=**} {
      allow write: if isSuperAdmin();
    }

    // Socios (Super Admin y el nuevo Editor de Socios)
    match /socios/{document=**} {
      allow write: if isSuperAdmin() || isSocioEditor();
    }
    
    // Pagos (El sistema web los escribe automáticamente)
    match /pagos_socios/{document=**} {
      allow write: if true; 
    }
  }
}